:root {
  --font-family: "Open Sans", sans-serif;
  --content-width: 1170px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --light-color: #fff;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */
/* stylelint-disable value-keyword-case */
@font-face {
  font-family: "Manrope";
  src: url("../resources/fonts/Manrope-Medium.woff2") format("woff2"), url("../resources/fonts/Manrope-Medium.woff") format("woff");
  font-weight: 500;
  font-style: medium;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../resources/fonts/Manrope-Regular.woff2") format("woff2"), url("../resources/fonts/Manrope-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: fill;
  object-position: center center;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

body {
  margin: 0;
  font-family: var(--font-family);
}

.container {
  margin: 0 auto;
  padding: 0 auto;
  max-width: 1840px;
}

.main__section {
  padding: 0;
  margin: 36px 33px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  background: #ebf0fa;
}

.main__section-text-block {
  padding: 102px 0px 102px 72px;
  max-width: 574px;
  margin-right: 20px;
}

.main__section-title {
  font-family: "Manrope";
  font-weight: 500;
  font-size: 28px;
  line-height: 160%;
  color: #1f4284;
  margin-top: 0;
  margin-bottom: 23px;
}

.main__section-text {
  margin: 0;
  margin-bottom: 38px;
  font-family: "Manrope";
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #727272;
}

.main__section-btn {
  border: 0;
  border-radius: 60px;
  padding: 12px 12px 12px 24px;
  background: #244c98;
  font-family: "Manrope";
  max-width: 342px;
  font-weight: 500;
  font-size: 17px;
  line-height: 160%;
  color: #fff;
  display: flex;
  align-items: center;
}

.main__section-btn-img {
  margin-left: 48px;
}

.main__section-img-block {
  border-radius: 0 10px 10px 0;
  height: 456px;
}

.main__section-img {
  border-radius: 0 10px 10px 0;
  height: 100%;
}

@media (max-width: 1150px) {
  .main__section-text-block {
    padding: 108px 0px 102px 72px;
    margin-right: 20px;
  }
  .main__section-title {
    font-family: "Manrope";
    font-weight: 500;
    font-size: 24px;
    line-height: 160%;
    color: #1f4284;
    margin-bottom: 20px;
  }
  .main__section-text {
    margin-bottom: 39px;
  }
  .main__section-img-block {
    border-radius: 10px 0 10px 0;
    width: 100%;
  }
  .main__section-img {
    width: 100%;
    height: 456px;
    border-radius: 0 10px 10px 0;
  }
}
@media (max-width: 1000px) {
  .main__section {
    margin: 24px;
    display: flex;
    flex-direction: column;
  }
  .main__section-text-block {
    padding: 24px;
    max-width: 100%;
  }
  .main__section-title {
    font-size: 19px;
    line-height: 160%;
  }
  .main__section-text {
    font-size: 14px;
    line-height: 160%;
    margin-bottom: 27px;
  }
  .main__section-btn {
    border-radius: 60px;
    padding: 10px 10px 10px 18px;
    font-size: 14px;
    line-height: 160%;
  }
  .main__section-btn-img {
    width: 36px;
    height: 36px;
    margin-left: 22px;
  }
  .main__section-img-block {
    border-radius: 0 0 10px 10px;
    width: 100%;
    height: 360px;
  }
  .main__section-img {
    width: 100%;
    height: 360px;
    border-radius: 0 0 10px 10px;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
  }
}
@media (max-width: 480px) {
  .main__section {
    margin: 14px 24px;
    padding: 0;
  }
  .main__section-text-block {
    max-width: 327px;
    padding-bottom: 20px;
  }
  .main__section-title {
    font-size: 16px;
    line-height: 160%;
    margin-bottom: 16px;
  }
  .main__section-text {
    font-size: 13px;
    line-height: 160%;
    margin-bottom: 18px;
  }
  .main__section-btn-img {
    margin-left: 40px;
  }
  .main__section-img-block {
    position: relative;
    width: 100%;
    height: 220px;
  }
  .main__section-img {
    border-radius: 0 0 10px 10px;
    width: 100%;
    height: 221px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
  }
}
body {
  background-color: #fff;
}

.log__section {
  padding: 24px;
  background: #f0f4fc;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 0 auto;
  max-width: 500px;
}

.log__close-block {
  display: flex;
  justify-content: end;
}

.log__close {
  border: 0;
  border-radius: 10px;
  padding: 10px;
  background: #fff;
  display: flex;
}

.log__title {
  margin-bottom: 18px;
  margin-top: 4px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #323232;
}

.log__form {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.log__input {
  margin-bottom: 4px;
  border: 0;
  border-radius: 10px;
  padding: 24px;
  max-width: 452px;
  height: 73px;
  background: #d7e2f6;
}

.alert {
  color: red;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 13px;
}

.log__checkbox-block {
  display: flex;
  align-items: center;
}

.log__checkbox-text {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #323232;
}

.log__checkbox {
  width: 20px;
  height: 20px;
}

.log__recover {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #244c98;
}

.log__btn-enter {
  display: flex;
  justify-content: center;
  border: 0;
  border-radius: 4px;
  padding: 18px 12px;
  max-width: 452px;
  height: 65px;
  background: #244c98;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #fff;
  margin-bottom: 4px;
}

.log__btn-register {
  display: flex;
  justify-content: center;
  border-radius: 4px;
  padding: 18px 12px;
  max-width: 452px;
  height: 65px;
  background: #fff;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #244c98;
  border: 1px solid #244c98;
}

.hidden {
  display: none;
}

@media (max-width: 550px) {
  .log__section {
    max-width: 90%;
  }
}